<!doctype html>
<html lang="en">

<head>
    <title>Admin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <style>
        @media (min-width: 992px) {
            .dropdown-menu .dropdown-toggle:after {
                border-top: .3em solid transparent;
                border-right: 0;
                border-bottom: .3em solid transparent;
                border-left: .3em solid;
            }
            .dropdown-menu .dropdown-menu {
                margin-left: 0;
                margin-right: 0;
            }
            .dropdown-menu li {
                position: relative;
            }
            .nav-item .submenu {
                display: none;
                position: absolute;
                left: 100%;
                top: -7px;
            }
            .nav-item .submenu-left {
                right: 100%;
                left: auto;
            }
            .dropdown-menu>li:hover {
                background-color: #f1f1f1
            }
            .dropdown-menu>li:hover>.submenu {
                display: block;
            }
        }
        
        .box {
            padding: 10px;
            border: 3px solid #c1bdbd;
            width: 100%;
            height: 100%;
        }
        
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 300px;
            margin: auto;
            text-align: center;
            font-family: arial;
        }
        
        .price {
            color: grey;
            font-size: 22px;
        }
        
        .card button {
            border: none;
            outline: 0;
            padding: 12px;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 18px;
        }
        
        .card button.edit {
            color: white;
            background-color: rgb(57, 60, 248);
        }
        
        .card button.delete {
            color: white;
            background-color: rgb(235, 27, 27);
        }
        
        .card button:hover {
            opacity: 0.7;
        }
    </style>
    <script>
    </script>
</head>

<body>
    <%- include('partials/nav',user,categories)%>
        <div class="container my-5">
            <div class="row">
                <span class="mx-auto">
            <h3><%=category.name%></h3>
                <%=category.description%>
            </span>
            </div>
            <div class="row">
                <%for(let i=0; i < category.products.length; i++){%>
                    <div class="col-md-3">
                        <div class="card my-2">
                            <%if(category.products[i].images[0]!==undefined){%>
                                <img style="width:100%;height: 200px;" src="<%=category.products[i].images[0].href%>" />
                                <%}%>
                                    <h1>
                                        <%=category.products[i].name%>
                                    </h1>
                                    <p class="price">
                                       Price: <%=category.products[i].price%>
                                    </p>
                                    <p>
                                        <%=category.products[i].description%>
                                    </p>
                                    <p><a class="btn btn-success" href="/admin/edit/<%=category.products[i].id%>">Edit</a></p>
                                    <p><button class="delete">Delete</button></p>
                                    <div class="card-footer">

                                    </div>
                        </div>
                    </div>
                    <%}%>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js " integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1 " crossorigin="anonymous "></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js " integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM " crossorigin="anonymous "></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script>
            function deleteProduct(id) {
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        axios.delete('/admin/product/' + id)
                            .then(function(response) {
                                if (response.data.status == 200) {
                                    Swal.fire(
                                            'Deleted!',
                                            response.data.message,
                                            'success'
                                        )
                                        .then(() => {
                                            location.reload();
                                        })
                                } else Swal.fire(
                                    'Error!',
                                    response.data.message,
                                    'error'
                                )
                            })
                    }
                })
            }
        </script>
</body>

</html>